################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReactJsDemoWithAspNetCore/.vs/ReactJsDemoWithAspNetCore/v16
/ReactJsDemoWithAspNetCore/ReactJsDemoWithAspNetCore/obj
/ReactJsDemoWithAspNetCore/.vs/ReactJsDemoWithAspNetCore/config
/ReactJsDemoWithAspNetCore/ReactJsDemoWithAspNetCore/bin/Debug/netcoreapp3.1
